services:
  watchtower:
    image: containrrr/watchtower
    command:
      - "--label-enable"
      - "--interval"
      - "30"
      - "--rolling-restart"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/mshin/.docker/config.json:/config.json:ro
  reverse-proxy:
    image: traefik:v3.1
    command:
      - "--providers.docker"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=mshin@themshin.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    ports:
      - "80:80"
      # HTTPS Port
      - "443:443"
    volumes:
      - letsencrypt:/letsencrypt
      # So that Traefik can listen to Docker events
      - /var/run/docker.sock:/var/run/docker.sock
  triptracker:
    image: ghcr.io/skywall34/triptracker:prod
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.triptracker.rule=Host(`fromnto.cloud`)"
      - "traefik.http.routers.triptracker.entrypoints=websecure"
      - "traefik.http.routers.triptracker.tls.certresolver=myresolver"
      - "com.centurylinklabs.watchtower.enable=true"
    volumes:
      - ./internal/database/database.db:/root/internal/database/database.db
      - ./.env:/root/.env:ro
    environment:
      - DOTENV_PATH=/root/.env
    deploy:
      mode: replicated
      replicas: 3
  fantasytrading:
    image: ghcr.io/skywall34/fantasy-trading:prod
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fantasytrading.rule=Host(`optimizerleague.pro`)"
      - "traefik.http.routers.fantasytrading.entrypoints=websecure"
      - "traefik.http.routers.fantasytrading.tls.certresolver=myresolver"
      - "com.centurylinklabs.watchtower.enable=true"
    volumes:
      - /home/mshin/fantasy-trading/data:/root/data
      - /home/mshin/fantasy-trading/.env:/root/.env:ro
    environment:
      - DOTENV_PATH=/root/.env
    deploy:
      mode: replicated
      replicas: 1
  portfolio:
    image: ghcr.io/skywall34/portfolio:prod
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portfolio.rule=Host(`themshin.com`)"
      - "traefik.http.routers.portfolio.entrypoints=websecure"
      - "traefik.http.routers.portfolio.tls.certresolver=myresolver"
      - "com.centurylinklabs.watchtower.enable=true"
    deploy:
      mode: replicated
      replicas: 1
volumes:
  letsencrypt:
