package templates


templ TripMap(firstName string) {
    <div class="container mx-auto">
        <h1 class="text-2xl font-bold text-center mt-5">{firstName}'s Trip Map</h1>
        <div id="map" class="w-full h-[600px] rounded-lg shadow-md mt-5"></div>
    </div>
}